.slider-container {
    overflow-x: hidden;
    margin-left: 20px;
    overflow: scroll;
    display: flex;
    align-items: center;
}

.slider-items-container {
    display: flex;
    width: max-content;
}

.slider-container::-webkit-scrollbar {
    display: none;
}
